@import "tailwindcss";

:root {
  --background: #F2E9D8;
  --foreground: #171717;
  --logo1: #F2E9D8;
  --logo2: #4B3829;
}

html,
body,
#root {
  background: var(--background);
  color: var(--logo2);
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}


@layer utilities {
  .fade {
    animation: fade .5s ease-out;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .slideReveal {
    animation: slideReveal 1s ease-out forwards;
    /* não infinito se for uma única aparição */
  }

  @keyframes slideReveal {
    0% {
      opacity: 0;
      transform: translateY(-20px);
      /* começa abaixo */
    }

    100% {
      opacity: 1;
      transform: translateY(0);
      /* termina na posição normal */
    }
  }
}